html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #E0E0E0;
}

.title {
  text-align: center;
  font-size: 5em;
  color: #717078;
  padding-top: 5%;
  margin-bottom: 3%;
}

#input-container {
  padding-left: 25%;
  margin: 0 auto;
  padding-top: 1px;
}
#color-container {
  width: 50%;
  margin: 0 auto;

}

#color-label {
  font-size: 2em;
  color: #717078;
}

#hexInput {
  font-size: 2em;
  color: #717078;
  background-color: #E0E0E0;
  border: 1px solid #717078;
  padding-left: 10px;
}

#sliderText {
  font-size: 2em;
  color: #717078;
}

input[type=range] {
  -webkit-appearance: none;
  width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 30px;
  background: #717078;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 100%;
  width: 25px;
  background: #E0E0E0;
  border: 1px solid #717078;
}

.box {
  height: 100px;
  width: 100%;
  background-color: #c6d5ac;
  margin-bottom: 25px;
  background-color: #A2A7A5;
  margin-top: 2px;
  border: 1px solid #717078;
}

#color-container {
  font-size: 1.7rem;
  color: #717078;
}

#toggle {
  display: flex;

  align-items: center;
}

.toggle-text {
  font-size: 1.7rem;
  color: #717078;
}

.toggle-btn {
  height: 30px;
  width: 60px;
  background-color: #717078;
  border-radius: 30px;
  padding: 5px;
  margin: 0 10px;
}

.inner-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #E0E0E0;
  transition: all 250ms;
}

.toggle-btn.toggled>.inner-circle {
  transform: translateX(30px);
  background-color: #333;
}

.unselected {
  opacity: 0.5;
}